
# Prerequisites
*.d

# Object directories/files
obj/
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executable directories/files
bin/
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
handle.exe
handle64.exe

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.xml

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Mac trash
.DS_Store
